## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,0,Hilo,US,19.73,-155.09,71.60,68,40,6.93,scattered clouds
1,1,Punta Arenas,CL,-53.15,-70.92,44.60,66,75,21.92,light rain
2,2,Barrow,US,71.29,-156.79,12.20,78,90,10.29,light snow
3,3,Parnamirim,BR,-5.92,-35.26,86.00,66,75,14.99,broken clouds
4,4,Busselton,AU,-33.65,115.33,55.58,85,0,7.70,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,0,Hilo,US,19.73,-155.09,71.60,68,40,6.93,scattered clouds
8,8,Lorengau,PG,-2.02,147.27,80.94,76,100,2.01,overcast clouds
9,9,Atuona,PF,-9.80,-139.03,77.77,80,31,19.01,light rain
16,16,Micheweni,TZ,-4.97,39.83,80.62,77,99,10.47,overcast clouds
17,17,Honiara,SB,-9.43,159.95,75.20,100,75,2.24,light rain
...,...,...,...,...,...,...,...,...,...,...
673,673,Presidencia Roque Saenz Pena,AR,-26.79,-60.44,79.00,67,98,4.00,overcast clouds
674,674,Beruwala,LK,6.48,79.98,79.25,88,100,8.37,light rain
675,675,Bitung,ID,1.45,125.18,77.00,94,20,2.24,light rain
678,678,Rundu,NaN,-17.93,19.77,79.27,53,64,5.46,broken clouds
684,684,Le Tampon,RE,-21.27,55.52,80.60,83,75,3.36,light rain

In [5]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

City_ID                209
City                   209
Country                207
Lat                    209
Lng                    209
Max Temp               209
Humidity               209
Cloudiness             209
Wind Speed             209
Weather description    209
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = filtered_cities_df.dropna()
clean_df.count()

City_ID                207
City                   207
Country                207
Lat                    207
Lng                    207
Max Temp               207
Humidity               207
Cloudiness             207
Wind Speed             207
Weather description    207
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp Weather description    Lat     Lng Hotel Name
0        Hilo      US     71.60    scattered clouds  19.73 -155.09
8    Lorengau      PG     80.94     overcast clouds  -2.02  147.27
9      Atuona      PF     77.77          light rain  -9.80 -139.03
16  Micheweni      TZ     80.62     overcast clouds  -4.97   39.83
17    Honiara      SB     75.20          light rain  -9.43  159.95
18     Dingle      PH     77.11          light rain  11.00  122.67
21      Monze      ZM     70.57          light rain -16.28   27.48
23    Rikitea      PF     75.81           clear sky -23.12 -134.97
32    Kavieng      PG     79.97       broken clouds  -2.57  150.80
33  Hithadhoo      MV     83.32    scattered clouds  -0.60   73.08

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,Hilo,US,71.60,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
8,Lorengau,PG,80.94,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
9,Atuona,PF,77.77,light rain,-9.80,-139.03,Villa Enata
16,Micheweni,TZ,80.62,overcast clouds,-4.97,39.83,
17,Honiara,SB,75.20,light rain,-9.43,159.95,Heritage Park Hotel
...,...,...,...,...,...,...,...
671,Pemangkat,ID,79.50,overcast clouds,1.17,108.97,Kost H.Syamsuddin
673,Presidencia Roque Saenz Pena,AR,79.00,overcast clouds,-26.79,-60.44,Hotel Aconcagua
674,Beruwala,LK,79.25,light rain,6.48,79.98,The Palms Hotel
675,Bitung,ID,77.00,light rain,1.45,125.18,Peoplesight Learning Center ( PLC )
684,Le Tampon,RE,80.60,light rain,-21.27,55.52,Sud Hôtel

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,Hilo,US,71.60,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
8,Lorengau,PG,80.94,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
9,Atuona,PF,77.77,light rain,-9.80,-139.03,Villa Enata
16,Micheweni,TZ,80.62,overcast clouds,-4.97,39.83,
17,Honiara,SB,75.20,light rain,-9.43,159.95,Heritage Park Hotel
...,...,...,...,...,...,...,...
671,Pemangkat,ID,79.50,overcast clouds,1.17,108.97,Kost H.Syamsuddin
673,Presidencia Roque Saenz Pena,AR,79.00,overcast clouds,-26.79,-60.44,Hotel Aconcagua
674,Beruwala,LK,79.25,light rain,6.48,79.98,The Palms Hotel
675,Bitung,ID,77.00,light rain,1.45,125.18,Peoplesight Learning Center ( PLC )
684,Le Tampon,RE,80.60,light rain,-21.27,55.52,Sud Hôtel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))